@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Navbar Section */
.navbar {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  padding: 0px 10px;
  align-items: center;
  height: 10vh;
}
.logo {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}
li:hover {
  color: rgb(0, 255, 255);
  cursor: pointer;
}
ul {
  display: flex;
}
li {
  margin: 10px;
  list-style: none;
}
/* Hero Section */
.hero {
  background-color: rgb(248, 244, 239);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  width: 40vw;
}
#title-main {
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 5px;
}
.image-sec {
  width: 40vw;
  display: flex;
  justify-content: space-around;
}
#para {
  padding-bottom: 10px;
}
button {
  display: block;
  width: 150px;
  height: 40px;
  background-color: orange;
  border: 0;
   border-radius: 5px;
  color: white;
  margin: 10px 0;
}
/* Card section */
#ntitle {
  margin: 40px;
}
.card {
  width: 300px;
  height: fit-content;
  background-color: rgb(248, 244, 239);
}
.content1 {
  width: 300px;
  height: fit-content;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  flex-wrap: wrap;
}
/* Footer Section */

.footer_box {
  background-color: rgb(35, 35, 35);
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}
.b-head {
  margin: 10px 0px;
}
.box1 {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: left;
}
.social i {
  padding: 5px;
}
.social p {
  display: flex;
  margin: 15px 0px;
  align-items: center;
}
.container-one,
.container-one i {
  display: flex;
  margin: 10px;
  align-items: center;
}
